{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            节点详情
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">节点详情</a></li>
        </ol>
    </section>
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">工程部署</h3>
                    </div>
                    <div>
                        <form class="form-horizontal">
                            {% csrf_token %}
                            <input id="nid" hidden value="{{ nid }}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">节点名</label>

                                    <div class="col-sm-7">
                                        <input type="text" name="name" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">IP地址</label>

                                    <div class="col-sm-7">
                                        <input type="text" name="ip" class="form-control" readonly>
                                        <input hidden name="port">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">描述</label>

                                    <div class="col-sm-7">
                                        <textarea name="description" class="form-control" rows="2" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">选择工程</label>
                                    <div class="col-sm-7">
                                        <input type="file" id="project-file" class="form-control" value="工程文件">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注</label>

                                    <div class="col-sm-7">
                                        <textarea name="project-description" class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="col-lg-9">
                                    <button type="button" class="btn pull-right" id="project-mapping"
                                            style="margin-left: 10px;">映射工程
                                    </button>
                                    <button type="button" class="btn pull-right" id="project-depoly"> 部 署</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">工程列表</h3>
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 5%">序号</th>
                                <th style="width: 10%">节点</th>
                                <th style="width: 20%">工程</th>
                                <th style="width: 5%">显示</th>
                                <th>备注</th>
                                <th style="width: 15%">部署时间</th>
                                <th style="width: 20%">操作</th>
                            </tr>
                            </thead>
                            <tbody id="project-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/node/detail/',
                data: {nid: $("#nid").val()},
                type: 'get',
                success: function (res) {
                    $("input[name='name']").val(res.name);
                    $("input[name='ip']").val(res.ip);
                    $("input[name='port']").val(res.port);
                    $("textarea[name='description']").val(res.description);
                }
            })
        });
    </script>

    <script>
        function ProjectList() {
            $.ajax({
                url: '/api/project/',
                data: {nid: $("#nid").val()},
                type: 'get',
                success: function (res) {
                    var tbody = '';
                    $.each(res, function (k, v) {
                        var chked = v.status == 1 ? "checked" : "";
                        tbody +=
                            '<tr><td>' + parseInt(k + 1) + '</td>' +
                            '<td>' + v.node + '</td>' +
                            '<td>' + v.name + '</td>' +
                            '<td id="check' + v.id + '"><input type="checkbox" ' + chked + '></td>' +
                            '<td>' + v.description + '</td>' +
                            '<td>' + v.add_time + '</td>' +
                            '<td><button type="button" data="' + v.id + '" class="btn btn-xs" onclick="ProjectEdit(this)">更新</button> ' +
                            '<button type="button" data="' + v.id + '" class="btn btn-xs" onclick="ProjectDelete(this)">删除</button>' +
                            '</td></tr>';
                    });
                    $('#project-list').html(tbody);
                }
            })
        }
    </script>

    <script>
        $(document).ready(function () {
            ProjectList()
        });
    </script>
    <script>
        function ProjectDelete(obj) {
            if (confirm("确认要删除吗？")) {
                $.ajax({
                    url: '/api/project/',
                    type: 'post',
                    data: {id: $(obj).attr('data'), nid: $("#nid").val()},
                    success: function (res) {
                        var tip = '<a class="btn btn-block btn-social bg-olive"><i class="icon fa fa-check"></i> 提示！' + res.msg + '</a>';
                        ProjectList();
                        Tip(tip);
                    }
                })
            }
        }
    </script>
    <script>
        function ProjectEdit(obj) {
            var status = $('#check' + $(obj).attr('data')).children('input').is(':checked') ? 1 : 0
            $.ajax({
                url: '/api/job/mapping/',
                type: 'post',
                data: {id: $(obj).attr('data'), nid: $('#nid').val(), status: status},
                success: function (res) {
                    var tip = '<a class="btn btn-block btn-social bg-olive"><i class="icon fa fa-check"></i> 提示！' + res.msg + '</a>';
                    ProjectList();
                    Tip(tip);
                }
            })

        }
    </script>


    <script>
        $('#project-depoly').click(function () {
            var formdata = new FormData();
            formdata.append('project', $('#project-file')[0].files[0]);
            formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            formdata.append('description', $("textarea[name='project-description']").val());
            formdata.append('nid', $("#nid").val());

            $.ajax({
                url: '/api/project/upload/',
                type: 'post',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status == 1) {
                        var tip = '<a class="btn btn-block btn-social bg-olive"><i class="icon fa fa-check"></i> 提示！' + res.msg + '</a>';
                        ProjectList();
                        $('#project-file').val('');
                        $("textarea[name='project-description']").val('');
                    } else {
                        var tip = '<a class="btn btn-block btn-social btn-warning"><i class="icon fa fa-warning"></i> 警告！' + res.msg + '</a>';
                    }
                    Tip(tip);
                }
            })
        })
    </script>
    <script>
        $('#project-mapping').click(function () {
            var projects = [];
            $('#project-list tr').each(function () {
                projects.push($(this).find('td')[2].textContent)
            });
            var formdata = new FormData();
            formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            formdata.append('nid', $("#nid").val());
            formdata.append('projects', projects);

            $.ajax({
                url: '/api/project/mapping/',
                type: 'post',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res) {
                    ProjectList();
                    if (res.status == 1) {
                        var tip = '<a class="btn btn-block btn-social bg-olive"><i class="icon fa fa-check"></i> 提示！' + res.msg + '</a>';

                    } else {
                        var tip = '<a class="btn btn-block btn-social btn-warning"><i class="icon fa fa-warning"></i> 警告！' + res.msg + '</a>';
                    }
                    Tip(tip);
                }
            })
        })
    </script>
{% endblock %}